<% @cart.items.each do |t| %>

	item: <%= t.name %> price: $<%= t.price %> <%= image_tag t.avatar.url(:medium) %> quantity: x<%= t.quantity %><br><br>

	total: $<%= @cart.totalcost %>
<%end %>
<%if @cart == nil %>
	<h2>cart is empty</h2>
<% end %>
