<h2>Energy Drinks</h2>

<% @energy_drinks.each do |e_drink| %>
	<div style= "text-align: center; display: inline-block; margin: 30px">
		<%= e_drink.name %><br>
		description: <%= e_drink.description %><br>
		price: $<%= e_drink.price %><br>
		<%= image_tag e_drink.avatar.url(:medium) %>
		<%= e_drink.id %>
			
			<%= form_for :items , url: {action: "add_item", controller: "carts"} do |f| %>
			<%= hidden_field_tag "itemid", e_drink.id %>
			<%= f.submit "add to cart " %>
			
		
		<%end %>
	</div>
<% end %>
